# Java
*.class

# Package Files
*.jar
*.war
*.ear

# Maven Build
target/

# Eclipse directories
bin/
.settings
.classpath
.project
.tern-project

# JetBrains
*.iml
.idea/

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# Forge file
.forge_settings

# Mac File
*.DS_Store

*~